@using LSDS.Tdms.Controllers
@model LSDS.Tdms.Models.TdmsDataModel.UserLogin
@{
    ViewBag.Title = "Passwrod Change";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Password Change</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/LoginStyle.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
              asp-fallback-href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"
              asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
        <link rel="stylesheet" href="~/css/site.css" asp-file-version="true" />
        <link rel="stylesheet" href="~/css/LoginStyle.css" asp-file-version="true" />
    </environment>
</head>
<body>
    <div class="container">
        <div class="loginWindowp">

            <img id="loginLDSLogo" src="~/images/LDS Logo 76x335.jpg" />

            <form method="post" action="@Url.Action("Password", "Login")">
                <div id="idErrorMsgP">@Html.ValidationMessage("ErrorMsg")</div>
                <div id="loginMainWP">
                    <fieldset>
                        <legend>
                            <img src="~/images/mages/TDMSEnterprise40.gif" alt="" />
                        </legend>
                        <label id="versionP">@ViewBag.Version</label>
                        <div id="pwdLogin" class="editor-label">
                            @Html.LabelFor(u => u.UserName)
                            <input type="text" name="lname" disabled id="UserNameD" value="@Model.UserName" />
                            <div class="editor-label">
                                @Html.LabelFor(u => u.Password)
                                <input type="password" name="lname" disabled id="PasswordD" value="@Model.Password" />
                            </div>
                            <div class="editor-label" id="lnewPassword">
                                @Html.LabelFor(u => u.NewPassword)
                                @Html.PasswordFor(u => u.NewPassword, htmlAttributes: new { id = "NewPassword", @required = "required" })
                                @Html.ValidationMessageFor(u => u.NewPassword)
                            </div>
                            <div class="editor-label" id="lconPassword">
                                @Html.LabelFor(u => u.ConfirmPassword)
                                @Html.PasswordFor(u => u.ConfirmPassword, htmlAttributes: new { id = "ConfirmPassword", @required = "required" })
                                @Html.ValidationMessageFor(u => u.ConfirmPassword)
                            </div>
                            <input type="submit" value="Save" class="loginButton" id="idSaveBLog" />
                            @Html.ActionLink("Cancel", "Logout", "Login", htmlAttributes: new { @class = "loginButton", id = "idCancelLog" })

                        </div>

                    </fieldset>
                </div>
                @Html.HiddenFor(u => u.UserName, htmlAttributes: new { id = "UserName" })
                @Html.HiddenFor(u => u.Password, htmlAttributes: new { id = "Password" })
            </form>


            <div id="didFooter">
                <div id="loginFooterp">
                    This is a private computer system with access restricted to those with proper authorization. If you are not specifically authorized to access data on this system, disconnect now. All information and communications on this system are subject to review, monitoring, and recording at any time without notice or permission. Unauthorized use or access may be subject to prosecution or disciplinary action.
                </div>
                <div id="loginFooterLink">
                    @Html.ActionLink("Privacy Policy", "Privacy", "Privacy")
                </div>
            </div>
        </div>


    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"></script>
        <script src="~/js/views/Login.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                asp-fallback-src="~/lib/hammer.js/hammer.js"
                asp-fallback-test="window.Hammer">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                asp-fallback-src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"
                asp-fallback-test="window.Hammer && window.Hammer.Instance">
        </script>
        <script src="~/js/site.js" asp-file-version="true"></script>
        <script src="~/js/views/Login.js" asp-file-version="true"></script>
    </environment>
</body>


</html>





