@using Tdms.Controllers
@model LSDS.Tdms.Models.TdmsDataModel.UserLogin
@{
    ViewBag.Title = "Login Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Password Change</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @Styles.Render("~/bundles/style/login")
</head>
<body>
    <div class="container">
        <div class="loginWindowp">

            <img id="loginLDSLogo" src="@Url.Content("~/Content/Images/LDS Logo 76x335.jpg")" />

            <form method="post" action="@Url.Action("Password", "Login")">
                <div id="idErrorMsgP">@Html.ValidationMessage("ErrorMsg")</div>
                <div id="loginMainWP">
                    <fieldset>
                        <legend>
                            <img src="@Url.Content("~/Content/Images/TDMSEnterprise40.gif")" alt="" />
                        </legend>
                        <label id="versionP">@Html.GetVersion()</label>
                        <div id="pwdLogin" class="editor-label">
                            @Html.LabelFor(u => u.UserName)
                            <input type="text" name="lname" disabled id="UserNameD" value="@Model.UserName" />
                            <div class="editor-label">
                                @Html.LabelFor(u => u.Password)
                                <input type="password" name="lname" disabled id="PasswordD" value="@Model.Password" />
                            </div>
                            <div class="editor-label" id="lnewPassword">
                                @Html.LabelFor(u => u.NewPassword)
                                @Html.PasswordFor(u => u.NewPassword, htmlAttributes: new { id = "NewPassword", @required = "required" })
                                @Html.ValidationMessageFor(u => u.NewPassword)
                            </div>
                            <div class="editor-label" id="lconPassword">
                                @Html.LabelFor(u => u.ConfirmPassword)
                                @Html.PasswordFor(u => u.ConfirmPassword, htmlAttributes: new { id = "ConfirmPassword", @required = "required" })
                                @Html.ValidationMessageFor(u => u.ConfirmPassword)
                            </div>
                            <input type="submit" value="Save" class="loginButton" id="idSaveBLog" />
                            @Html.ActionLink("Cancel", "Logout", "Login", htmlAttributes: new { @class = "loginButton", id = "idCancelLog" })

                        </div>

                    </fieldset>
                </div>
                @Html.HiddenFor(u => u.UserName, htmlAttributes: new { id = "UserName" })
                @Html.HiddenFor(u => u.Password, htmlAttributes: new { id = "Password" })
            </form>


            <div id="didFooter">
                <div id="loginFooterp">
                    This is a private computer system with access restricted to those with proper authorization. If you are not specifically authorized to access data on this system, disconnect now. All information and communications on this system are subject to review, monitoring, and recording at any time without notice or permission. Unauthorized use or access may be subject to prosecution or disciplinary action.
                </div>
                <div id="loginFooterLink">
                    @Html.ActionLink("Privacy Policy", "Privacy", "Privacy")
                </div>
            </div>
        </div>


    </div>

   @Scripts.Render("~/bundles/login");
</body>


</html>





