
<table id="stPrintCustomComment">
    <tr>
        <td><label class="lbTradePrintOptionsClass">Comment:</label></td>
        <td>
            <select id="dllPrintOptionComment"><option selected="selected" value="-1">Select</option></select>
        </td>
        <td></td>
    </tr>
    <tr><td><label class="lbTradePrintOptionsClass">Custom Comment:</label></td><td><textarea id="printCommmentP" rows="4" cols="50" maxlength="254" ></textarea></td><td></td></tr>
    <tr>
        <td><label class="lbTradePrintOptionsClass">Type:</label></td>
        <td>
            <select id="dllPrintOptionType">
                <option value="0" selected="selected">Notify Letter</option>
                <option value="1">Trade List</option>
                <option value="2">Pending Trades with Confirm</option>
                <option value="3">Pending Trades with Confirm List</option>
                <option value="4">ClearPar Recon List</option>
                <option value="5">ClearPar Summary List</option>
            </select>
        </td>
        <td></td>
    </tr>
    <tr>
        <td><label class="lbTradePrintOptionsClass">Portfolio Contact:</label></td>
        <td>
            <select id="dllPortfolioContact"><option selected="selected" value="-1">Select</option></select>
        </td>
        <td></td>
    </tr>
    <tr><td></td><td></td><td><input type="button" id="btnPrintB" class="printOptionsButton" value="Print" onclick="tradePrintButton()" /> <input type="button" id="btnFaxB" class="printOptionsButton" value="Fax" onclick="tradePrintFax()" /></td></tr>

</table>
<script>

    $(document).ready(function () {

        try {
            $.getJSON(
                '@Url.Action("ReturnComment", "TradePrintOptions")', {},
                function (myData) {
                    var mySelect = $("#dllPrintOptionComment");

                    $.each(myData, function () {
                        mySelect.append(
                            $("<option></option>").val(this.ProblemCode).html(this.ProblemCodeDesc)
                        );

                    });
                });
        } catch (err) {
            console.log(err.Message);
        }
        try {
            $.getJSON(
                '@Url.Action("ReturnPortfolioContact", "TradePrintOptions")', {},
                function (myData) {
                    var mySelect = $("#dllPortfolioContact");

                    $.each(myData, function () {
                        mySelect.append(
                            $("<option></option>").val(this.TypeCode).html(this.ContactTypeDesc)
                        );

                    });
                });
        } catch (e) {
            console.log(e.Message);
        }
        try {
            $("#dllPrintOptionType").on("change", function () {
                if (this.value !== "0") {
                    $("#btnFaxB").prop('disabled', true);
                    $("#btnFaxB").removeClass("printOptionsButton");
                    $("#btnFaxB").addClass("disabledButtons");


                    $("#dllPortfolioContact").prop('disabled', true);
                    $("#dllPortfolioContact").addClass("disabledButtons");
                    $("#dllPrintOptionComment").prop('disabled', true);
                    $("#dllPrintOptionComment").addClass("disabledButtons");
                    $("#printCommmentP").prop('disabled', true);
                    $("#printCommmentP").addClass("disabledButtons");

                } else {
                    $("#btnFaxB").prop('disabled', false);
                    $("#btnFaxB").removeClass("disabledButtons");
                    $("#btnFaxB").addClass("printOptionsButton");

                    $("#dllPortfolioContact").prop('disabled', false);
                    $("#dllPortfolioContact").removeClass("disabledButtons");

                    $("#dllPrintOptionComment").prop('disabled', false);
                    $("#dllPrintOptionComment").removeClass("disabledButtons");
                    $("#printCommmentP").prop('disabled', false);
                    $("#printCommmentP").removeClass("disabledButtons");
                }
            });
        } catch (ex) {
            console.log(ex.Message);
        }
    });

    function tradePrintFax() {
        var contactType = $("#dllPortfolioContact option:selected").val();
        var printOptionType = $("#dllPrintOptionType option:selected").val();
        var printCommentSelect = $("#dllPrintOptionComment option:selected").text();
        var printComment = $("#printCommmentP").val();
        if ($("#dllPrintOptionComment option:selected").val() !== "-1" && printComment.length > 0) {
            printComment = $("#dllPrintOptionComment option:selected").text() + " - " + printComment;
        }
        if ($("#dllPrintOptionComment option:selected").val() !== "-1" && printComment.length < 1) {
            printComment = $("#dllPrintOptionComment option:selected").text();
        }

        if ($("#tradeListId").val().length > 0) {
            $("#printTradeList").html("<div>Loading...</div>");
            $("#printTradeList").show();
            $("#printTradeList").data("kendoWindow").center().open();
            $.getJSON(
                     '@Url.Action("PrintTradeViewSelect", "TradeList")', { contactType: contactType, notifyType: printOptionType, comment: printComment, tradeList: $("#tradeListId").val(), type: "fax" },
                     function (myData) {

                         alert(myData.items[0].result);
                         var kPopup = $("#printTradeList").data("kendoWindow");
                         kPopup.close();

                     });
        }
        else {
            if (confirm("No Trades selected. Exporting more than 50  trades may take few minutes.\r\nContinue?"))
            {
                $("#printTradeList").html("<div>Loading...</div>");
                $("#printTradeList").show();
                $("#printTradeList").data("kendoWindow").center().open();
                $.getJSON(
         '@Url.Action("PrintTradeViewSelect", "TradeList")', { contactType: contactType, notifyType: printOptionType, comment: printComment, tradeList: $("#tradeListId").val(), type: "fax" },
         function (myData) {

             alert(myData.items[0].result);
             var kPopup = $("#printTradeList").data("kendoWindow");
             kPopup.close();

         });


                $.getJSON(
            '@Url.Action("PrintTradeViewSelect", "TradeList")', { contactType: contactType, notifyType: printOptionType, comment: printComment, tradeList: $("#tradeListId").val(), type: "fax" },
            function (myData) {


                window.location.href = "/TradeList/Download?fileName=" + myData.items[0].fileName + "&filePath=" + myData.items[0].filePath;
                var kPopup = $("#printTradeList").data("kendoWindow");
                kPopup.close();

            });
            }
        }


    }

    function tradePrintButton() {
        var contactType = $("#dllPortfolioContact option:selected").val();
        var printOptionType = $("#dllPrintOptionType option:selected").val();
        var printCommentSelect = $("#dllPrintOptionComment option:selected").text();
        var printComment = $("#printCommmentP").val();
        if ($("#dllPrintOptionComment option:selected").val() !== "-1" && printComment.length > 0) {
            printComment = $("#dllPrintOptionComment option:selected").text() + " - " + printComment;
        }
        if ($("#dllPrintOptionComment option:selected").val() !== "-1" && printComment.length < 1) {
            printComment = $("#dllPrintOptionComment option:selected").text();
        }


        if ($("#tradeListId").val().length > 0) {
            $("#printTradeList").html("<div>Loading...</div>");
            $("#printTradeList").show();
            $("#printTradeList").data("kendoWindow").center().open();
         
            $.getJSON(
                  '@Url.Action("PrintTradeViewSelect", "TradeList")', { contactType: contactType, notifyType: printOptionType, comment: printComment, tradeList: $("#tradeListId").val(), type: "print" },
                  function (myData) {


                      window.location.href = "/TradeList/Download?fileName=" + myData.items[0].fileName + "&filePath=" + myData.items[0].filePath;
                      var kPopup = $("#printTradeList").data("kendoWindow");
                      kPopup.close();

                  });
        }
        else {
            if (confirm("No Trades selected. Exporting more than 50  trades may take few minutes.\r\nContinue?")) {
                $.getJSON(
             '@Url.Action("PrintTradeViewSelect", "TradeList")', { contactType: contactType, notifyType: printOptionType, comment: printComment, tradeList: $("#tradeListId").val(), type: "print" },
             function (myData) {


                 window.location.href = "/TradeList/Download?fileName=" + myData.items[0].fileName + "&filePath=" + myData.items[0].filePath;
                 var kPopup = $("#printTradeList").data("kendoWindow");
                 kPopup.close();

             });
            
            }
        }
    }
</script>

 